{% extends 'base.html.twig' %}

{% block title %}Evenement crée {% endblock %}

{% block body %}

    {% if app.user %}
    <h2>{{ controller_name }} </h2>
    
    
    <div class="form-group">
        {{ form_start(eventCreate) }}
        <div>
            
        </div>    
        <button type="submit" class="button is-primary is-fullwidth">
            Ajouter
        </button>
        {{ form_end(eventCreate) }}
    </div>
    {% endif %}
    
{% endblock %}
